# Python

-  Python is a high-level, general-purpose programming language that can be applied to many different classes of problems.f
- Python is super easy to learn and is often one of the first languages people turn to when trying to learn to code.
- Python is great from everything from data analysis, web scraping, to working with big data, finance, computer vision, natural language processing, machine learning, deep learning, data science, AI, web development, and Internet of Things (IoT) devices, like the Raspberry Pi.
- Large organizations that heavily use python include IBM, Wikipedia, Google, Yahoo!, CERN, NASA, Facebook, Amazon, Instagram, Spotify, and Reddit.
- Python is very powerful. It has a huge ecosystem of libraries that will help you get the most complex things done with just a few lines of code.
- for data science, you can use Python's scientific computing libraries like Pandas, NumPy, SciPy, and Matplotlib. For artificial intelligence, it has TensorFlow, PyTorch, Keras, and Scikit-learn.
- Python can also be used for Natural Language Processing (NLP) using the Natural Language Toolkit (NLTK).

# write the first line in python

In [1]:
print('hello world')

hello world

In [3]:
# Check the Python Version
import sys
print(sys.version)

3.8.8 (default, Apr 13 2021, 15:08:03) [MSC v.1916 64 bit (AMD64)]

# Writing comments in Python

In addition to writing code, note that it's always a good idea to add comments to your code. It will help others understand what you were trying to accomplish (the reason why you wrote a given snippet of code). Not only does this help other people understand your code, it can also serve as a reminder to you when you come back to it weeks or months later.

To write comments in Python, use the number symbol # before writing your comment. When you run your code, Python will ignore everything past the # on a given line.

In [5]:
# Practice on writing comments

print('Hello, Python!') # This line prints a string

Hello, Python!

# first program in python

In [2]:
#draw a triangle
print('   /|')
print('  / |')
print(' /  |')
print('/___|')

   /|
  / |
 /  |
/___|

# variables

Just like with most programming languages, we can store values in variables, so we can use them later on.

In [34]:
x = 43 + 60 + 16 + 41

In [35]:
x

160

We can also perform operations on x and save the result to a new variable.

In [36]:
y = x / 60
y

2.6666666666666665

If we save a value to an existing variable, the new value will overwrite the previous value.

In [37]:
x = x / 60
x

2.6666666666666665

It's a good practice to use meaningful variable names, so you and others can read the code and understand it more easily.

In [38]:
total_min = 43 + 42 + 57 # Total length of albums in minutes
total_min

142

In [59]:
name='Tasneem'
age='20'    #can not be age=20 because can only concatenate str (not "int") to str
print('there was a girl called '+name)
print('she was '+age+' years old')
print('she liked her name '+name)

there was a girl called Tasneem
she was 20 years old
she liked her name Tasneem

# getting input

In [62]:
# function input()
name=input('enter your name: ')
age=input('enter your age: ')  # here you take age as string input not number
print('Hello '+name+' and your age is '+age)

enter your name: tasneem
enter your age: 20
Hello tasneem and your age is 20

# Types

- A type is how Python represents different types of data.
- You can have different types in Python. They can be integers like 11, real numbers like 21.213, they can even be words.
- We can have **int**, which stands for an **integer** and **float** that stands for float, essentially a **real number**.
- The type **string** is a sequence of **characters**. **"hello"**

1. **Integers** can be negative or positive. **11 , -11**
2. **Floats** are real numbers. They include the integers but also numbers in between the integers. Consider the numbers between 0 and 1. We can select numbers in between them. **0.5 , 1.34**
3. A **Boolean** can take on two values. **True or False**

 if we cast a Boolean **True** to an integer or float, we will get a **1**. If we cast a Boolean **False** to an integer or float, we get a **0**.

In [7]:
# You can get Python to tell you the type of an expression by using the built-in type() function.
x1=2
x2="hello"
x3=2.34
x4=True
print(type(x1))
print(type(x2))
print(type(x3))
print(type(x4))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>

In [22]:
type(6/2) # float

float

In [23]:
type(6//2) # int, as the double slashes stand for integer division

int

In [24]:
type("hello" == "world")

bool

# Expressions

Expressions in Python can include operations among compatible types (integers and floats). For example, basic arithmetic operations like adding multiple numbers.

In [25]:
# Addition operation expression

43 + 60 + 16 + 41

160

We can perform subtraction operations using the minus operator. In this case the result is a negative number:

In [27]:
# Subtraction operation expression

50 - 60

-10

We can do multiplication using an asterisk:

In [28]:
# Multiplication operation expression

5 * 5

25

We can also perform division with the forward slash.

In [29]:
# Division operation expression

25 / 5

5.0

In [30]:
25 / 6

4.166666666666667

we can use the double slash for integer division, where the result is rounded down to the nearest integer.

In [32]:
# Integer division operation expression

25 // 5

5

In [33]:
# Integer division operation expression

25 // 6

4

# Python Operators

- Addition (+): Adds two values together.
- Subtraction (-): Subtracts one value from another.
- Multiplication (*): Multiplies two values.
- Division (/): Divides one value by another, returns a float.
- Floor Division (//): Divides one value by another, returns the quotient as an integer.
- Modulo (%): Returns the remainder after division.

In [66]:
x = 9 
y = 4 
result_add= x + y # Addition 
result_sub= x - y # Subtraction 
result_mul= x * y # Multiplication 
result_div= x / y # Division 
result_fdiv= x // y # Floor Division 
result_mod= x % y # Modulo</td>
print(result_add)
print(result_sub)
print(result_mul)
print(result_div)
print(result_fdiv)
print(result_mod)

13
5
36
2.25
2
1

# Converting from one object type to a different object type

You can change the type of the object in Python; this is called typecasting. For example, you can convert an integer into a float (2 to 2.0).

## Converting integers to floats

In [8]:
float(2)

2.0

## Converting floats to int

When we convert an integer into a float, we don't really change the value of the number. However, if we cast a float into an integer, we could potentially lose some information. For example, if we cast the float 1.1 to integer we will get 1 and lose the decimal information (0.1)

In [9]:
int(1.1)

1

## Converting from strings to integers or floats

Sometimes, we can have a string that contains a number within it. If this is the case, we can cast that string that represents a number into an integer using int()

In [10]:
int('1')

1

But if you try to do so with a string that is not a perfect match for a number, you'll get an error.

In [11]:
int('1 or 2 people')

ValueError: invalid literal for int() with base 10: '1 or 2 people'

**Note**: that strings can be represented with single quotes ('1.2') or double quotes ("1.2"), but you can't mix both ("1.2').

## Converting numbers to strings

In [12]:
str(1)

'1'

In [13]:
str(1.2)

'1.2'

# Boolean data type

Boolean is another important type in Python. An object of type Boolean can take on one of two values: True or False

In [14]:
True

True

**Notice**: that the value True has an uppercase "T". The same is true for False (]you must use the uppercase "F").

In [15]:
False

False

In [16]:
type(True)

bool

In [17]:
int(True)

1

In [18]:
int(False)

0

In [19]:
bool(1)

True

In [20]:
bool(0)

False

In [21]:
float(True)

1.0

# string

In [39]:
# Use quotation marks for defining string

"The BodyGuard"

'The BodyGuard'

In [40]:
# Use single quotation marks for defining string

'The BodyGuard'

'The BodyGuard'

In [41]:
# Digitals and spaces in string

'1 2 3 4 5 6 '

'1 2 3 4 5 6 '

In [42]:
# Special characters in string

'@#2_#]&*^%$'

'@#2_#]&*^%$'

### Indexing

In [43]:
name='The BodyGuard'

In [44]:
print(name[0])

T

In [45]:
print(name[10])

a

In [46]:
# Print the last element in the string
# Negative Indexing
print(name[-1])

d

In [47]:
# Print the first element in the string

print(name[-13])

T

### Slicing

In [48]:
name[0:4]

'The '

### Stride

In [49]:
# Get every second element, starting with the index 0. The elments on index 0, 2, 4 ...

name[::2]

'TeBdGad'

In [50]:
# Get every second element in the range from index 0 to index 4

name[0:5:2]

'TeB'

### Concatenate Strings

In [51]:
statement = name + " is the best album"
statement

'The BodyGuard is the best album'

In [52]:
# Print the string for 3 times

3 * "The BodyGuard"

'The BodyGuardThe BodyGuardThe BodyGuard'

### Escape Sequences

Back slashes represent the beginning of escape sequences.

In [53]:
# New line escape sequence

print(" The BodyGuard\n is the best album" )

 The BodyGuard
 is the best album

In [54]:
# Tab escape sequence

print(" The BodyGuard \t is the best album" )

 The BodyGuard 	 is the best album

In [55]:
# Include back slash in string

print(" The BodyGuard \\ is the best album" )

 The BodyGuard \ is the best album

In [56]:
# r will tell python that string will be display as raw string

print(r" The BodyGuard \ is the best album" )

 The BodyGuard \ is the best album

### String Manipulation Operations

In [57]:
a = "Thriller is the sixth studio album"
print("before upper:", a)
b = a.upper()
print("After upper:", b)

before upper: Thriller is the sixth studio album
After upper: THRILLER IS THE SIXTH STUDIO ALBUM

In [58]:
a = "The BodyGuard is the best album"
b = a.replace('BodyGuard', 'Janet')
b

'The Janet is the best album'

In [59]:
# Find the substring in the string. Only the index of the first elment of substring in string will be the output

name = "The BodyGuard"
name.find('he')

1

In [60]:
name.find('Guard')

8

The method Split splits the string at the specified separator, and returns a list.

**Syntax**

string.split(separator, maxsplit)

**Parameters**

- separator (optional): This is the delimiter at which the string will be split. If not provided, the default separator is any whitespace.
- maxsplit (optional): This specifies the maximum number of splits to perform. If not provided, there is no limit on the number of splits.

**Return Value**:

The method returns a list of substrings.

In [61]:
#Split the substring into list
name = "The BodyGuard"
split_string = (name.split())
split_string

['The', 'BodyGuard']

**strip()**
- Removes leading/trailing whitespace.

In [64]:
my_string="Hello world" 
trimmed = my_string.strip()
trimmed

'Hello world'

In [12]:
print('tasneem')

tasneem

In [14]:
print('tas\neem') #\n backslash n for new line

tas
eem

In [16]:
print('tas\"eem') #what is the meaning of backslah? if i wanna print double quote in the string

tas"eem

In [17]:
print('tas\teem')#\t baskslash t takes a Tab or 4 spaces

tas	eem

In [19]:
text='tasneem'
print(text)
print(text+' is cool') # this called concatination in python that can be only in strings

tasneem
tasneem is cool

In [38]:
#functions that apply in the string this function allows you to make modification or get information from string.
text='Tasneem'
print(text.lower()) #return all letters---->small
print(text.upper()) #return all letters---->capital
print(text.islower())
print(text.isupper())
print(text.lower().islower())
print(text.lower().isupper())
print(len(text))
print(len('makhlouf'))
print(text[0])
print(text[2])
print(text[-1])
print(text.index('T'))
print(text.index('asneem')) # passing parameter to the function index
print(text.replace(('neem'),('Helmy')))

tasneem
TASNEEM
False
False
True
False
7
8
T
s
m
0
1
TasHelmy

# numbers

In [47]:
print(21)
print(2.34)#decimal
print(-3.45)#negative
print(3+4)
print(3-4)
print(10/2)
print(10*2)
print(3*4+5)
print(3*(4+5))
print(10%3)#modules 10/3=3.1 remain 1

21
2.34
-3.45
7
-1
5.0
20
17
27
1

In [1]:
my_num=5
print(my_num)
#cannot concat two deffernt data types
#function str() convert from number data tybe to string data tybe if i wanna concate this number with string
print(str(my_num)+' my favourite number')

5
5 my favourite number

In [50]:
#absulate value
num=-3
print(abs(num))

3

In [52]:
print(pow(2,3)) # 2^3 (2 to the power of 3)

8

In [53]:
print(max(10,4))

10

In [54]:
print(min(10,4))

4

In [2]:
#round the decimal number
print(round(3.45))
print(round(3.7))

3
4

In [1]:
from math import *
print(floor(3.7))
print(ceil(3.7))
print(floor(3.2))
print(sqrt(9))

3
4
3
3.0

In [9]:
num1=input('enter the first no:')
num2=input('enter the second no:')
result=num1+num2
print(result) # this will make concatination between two number bc input function takes the input as string

enter the first no:10
enter the second no:5
105

In [3]:
num1=input('enter the first no:')
num2=input('enter the second no:')
result=int(num1)+int(num2)
print(result)

enter the first no:1
enter the second no:3
4

In [7]:
num1=input('enter the first no:')
num2=input('enter the second no:')
result=float(num1)+float(num2)
print(result)

enter the first no:2.5
enter the second no:13.2
15.7

# lists

 - A list is a sequenced collection of different objects such as integers, strings, and even other lists as well.
 - To create a list, type the list within square brackets [ ], with your content inside the parenthesis and separated by commas.

### Indexing

The address of each element within a list is called an index. An index is used to access and refer to items within a list.

In [9]:
something_1=[1]
something_2=[1,'tasneem']
something_3=[1,'tasneem',True]
something_4=[1,'tasneem',False,[2,'faisal']]
#            0     1       2       3  

print(something_4[0])
print(something_4[1:2])#2 not include
print(something_4[0:3])
print(something_4[0:])
print(something_4[-1])
print(something_4[-2])
print(something_4[:-1])
print(something_4[-3:-1])
print('--------------')
print(something_4[3][0])

1
['tasneem']
[1, 'tasneem', False]
[1, 'tasneem', False, [2, 'faisal']]
[2, 'faisal']
False
[1, 'tasneem', False]
['tasneem', False]
--------------
2

In [16]:
something_4[3]='faisal'
print(something_4)

[1, 'tasneem', False, 'faisal']

In [85]:
my_list = [10, 20, 30, 40, 50] 
my_list[1] = 25 # Modifying the second element 
print(my_list)

[10, 25, 30, 40, 50]

We can use the **method extend** to add new elements to the list.

In [10]:
#function that can apply in lists
a=[1,2,3]
b=[4,5,6]
#concate between two lists
# a+=b
#OR a=a+b
a.extend(b) 
print(a)

[1, 2, 3, 4, 5, 6]

In [19]:
a=[1,2,3]
a.append(80)
print(a)

[1, 2, 3, 80]

In [68]:
a=[1,2,3]
a.append(['a','b'])
a

[1, 2, 3, ['a', 'b']]

We can also delete an element of a list using the del command.

In [69]:
A = ["disco", 10, 1.2]
print('Before change:', A)
del(A[0])
print('After change:', A)

Before change: ['disco', 10, 1.2]
After change: [10, 1.2]

In [11]:
a=[1,2,3]
#  0 1 2
a.insert(0,10)
a.insert(2,'tasneem')#takes two parameters the position and value
print(a)

[10, 1, 'tasneem', 2, 3]

In [12]:
a=[1,2,3,'tasneem',[20,'python']]
#  0 1 2   3          4
a.remove(3)
a.remove('tasneem')
# XX ERROR: a.remove([0]) GIVE REMOVE THE VALUE NOT INDEX
print(a)

[1, 2, [20, 'python']]

In [27]:
a=[1,2,3,'tasneem',[20,'python']]
a.clear()
print(a)

[]

In [31]:
a=[1,2,3,'tasneem',[20,'python']]
a.pop()
print(a)

[1, 2, 3, 'tasneem']

In [34]:
a=[1,2,3,'tasneem',[20,'python']]
what_was_poped=a.pop()
print(a)
print(what_is_poped)

[1, 2, 3, 'tasneem']
tasneem

In [35]:
a=[1,2,3,'tasneem',[20,'python']]
a.pop()
what_was_poped=a.pop()
print(a)
print(what_is_poped)

[1, 2, 3]
tasneem

In [37]:
a=[1,2,3,'tasneem',[20,'python']]
a.index('tasneem')
print(a)
print(a.index('tasneem'))

[1, 2, 3, 'tasneem', [20, 'python']]
3

In [13]:
a=[1,2,3,2,3,2,'tasneem',[20,'python'],'tasneem']
X=a.count(2)
Y=a.count('tasneem')
print(X)
print(Y)

3
2

In [41]:
a=[3,6,2,1,70,45]
b=['python','css','R','javascript']
# sort  not supported between instances of 'str' and 'int'
a.sort()
b.sort()
print(a)
print(b)

[1, 2, 3, 6, 45, 70]
['R', 'css', 'javascript', 'python']

In [45]:
a=[1,2,3,4]
# copy makes SHALLOW COPY that means any change in list a cannot effect in list b
b=a.copy()
print(a)
print(b)

[1, 2, 3, 4]
[1, 2, 3, 4]

In [47]:
# this type of copy : ANY change in list a EFFECT in list b
a=[1,2,3,4]
a=b
print(a)
print(b)
print('-------------------')
a.append(60)
print(a)
print(b)

[1, 2, 3, 4]
[1, 2, 3, 4]
-------------------
[1, 2, 3, 4, 60]
[1, 2, 3, 4, 60]

We can convert a string to a list using split. For example, the method split translates every group of characters separated by a space into an element in a list:

In [70]:
# Split the string, default is by space

'hard rock'.split()

['hard', 'rock']

We can use the split function to separate strings on a specific character which we call a delimiter. We pass the character we would like to split on into the argument, which in this case is a comma. The result is a list, and each element corresponds to a set of characters that have been separated by a comma:

In [71]:
# Split the string by comma

'A,B,C,D'.split(',')

['A', 'B', 'C', 'D']

In [84]:
my_list = [1, 2, 3, 4, 5] 
my_list.reverse() 
print(my_list)

[5, 4, 3, 2, 1]

# Tuples

In [14]:
# Tuples does not support item assigment >>> cannot edit
#example on tuples: coordinates
Tuple=(4,5)
Tuple_1=(5,2,7)
print(Tuple)
print(Tuple_1[0])
print(Tuple_1[1])

(4, 5)
5
2

In [53]:
list_of_tuples=[(2,3),(4,5),(6,7)]
print(list_of_tuples)

[(2, 3), (4, 5), (6, 7)]

In [74]:
# Concatenate two tuples
Tuple=(4,5)
tuple2 = Tuple + ("hard rock", 10)
tuple2

(4, 5, 'hard rock', 10)

In [76]:
tuple1 = ("disco",10,1.2 )
tuple1[0:3]

('disco', 10, 1.2)

In [77]:
len(tuple2)

4

In [78]:
# A sample tuple

Ratings = (0, 9, 6, 5, 10, 8, 9, 6, 2)

# Sort the tuple

RatingsSorted = sorted(Ratings)
RatingsSorted

[0, 2, 5, 6, 6, 8, 9, 9, 10]

In [79]:
# Create a nest tuple

NestedT =(1, 2, ("pop", "rock") ,(3,4),("disco",(1,2)))
print("Element 0 of Tuple: ", NestedT[0])
print("Element 1 of Tuple: ", NestedT[1])
print("Element 2 of Tuple: ", NestedT[2])
print("Element 3 of Tuple: ", NestedT[3])
print("Element 4 of Tuple: ", NestedT[4])

Element 0 of Tuple:  1
Element 1 of Tuple:  2
Element 2 of Tuple:  ('pop', 'rock')
Element 3 of Tuple:  (3, 4)
Element 4 of Tuple:  ('disco', (1, 2))

In [80]:
print("Element 2, 0 of Tuple: ",   NestedT[2][0])
print("Element 2, 1 of Tuple: ",   NestedT[2][1])
print("Element 3, 0 of Tuple: ",   NestedT[3][0])
print("Element 3, 1 of Tuple: ",   NestedT[3][1])
print("Element 4, 0 of Tuple: ",   NestedT[4][0])
print("Element 4, 1 of Tuple: ",   NestedT[4][1])

Element 2, 0 of Tuple:  pop
Element 2, 1 of Tuple:  rock
Element 3, 0 of Tuple:  3
Element 3, 1 of Tuple:  4
Element 4, 0 of Tuple:  disco
Element 4, 1 of Tuple:  (1, 2)

In [81]:
numbers = (10, 20, 5, 30)
print(min(numbers))  
print(max(numbers))

5
30

In [82]:
numbers = (10, 20, 5, 30)
print(sum(numbers))

65

In [83]:
fruits = ("apple", "banana", "apple", "orange")
print(fruits.count("apple"))

2

# Function

A function is a fundamental building block that encapsulates specific actions or computations. As in mathematics, where functions take inputs and produce outputs, programming functions perform similarly. They take inputs, execute predefined actions or calculations, and then return an output.

### Purpose of functions

Functions promote code modularity and reusability. Imagine you have a task that needs to be performed multiple times within a program. Instead of duplicating the same code at various places, you can define a function once and call it whenever you need that task. This reduces redundancy and makes the code easier to manage and maintain.

### How functions take inputs, perform tasks, and produce outputs

**Inputs (Parameters)**
Functions operate on data, and they can receive data as input. These inputs are known as parameters or arguments. Parameters provide functions with the necessary information they need to perform their tasks. Consider parameters as values you pass to a function, allowing it to work with specific data.

**Performing tasks**
Once a function receives its input (parameters), it executes predefined actions or computations. These actions can include calculations, operations on data, or even more complex tasks. The purpose of a function determines the tasks it performs. For instance, a function could calculate the sum of numbers, sort a list, format text, or fetch data from a database.

**Producing outputs**
After performing its tasks, a function can produce an output. This output is the result of the operations carried out within the function. It's the value that the function returns to the code that called it. Think of the output as the end product of the function's work. You can use this output in your code, assign it to variables, pass it to other functions, or even print it out for display.

#### Defining your functions

Defining a function is like creating your mini-program:

Use **def** followed by the function name and parentheses

In [144]:
def function_name():
    pass

A "pass" statement in a programming function is a placeholder or a no-op (no operation) statement. Use it when you want to define a function or a code block syntactically but do not want to specify any functionality or implementation at that moment.

**Function Parameters**:
 
 Parameters are like inputs for functions
 
 They go inside parentheses when defining the function
 
 Functions can have multiple parameters

In [145]:
def greet(name):
    return "Hello, " + name
result = greet("Alice")
print(result)

Hello, Alice

**Docstrings (Documentation Strings)**:

Docstrings explain what a function does

Placed inside triple quotes under the function definition

Helps other developers understand your function

In [147]:
def multiply(a, b):
    """
    This function multiplies two numbers.
    Input: a (number), b (number)
    Output: Product of a and b
    """
    print(a * b)
multiply(2,6)

12

**Return statement**:

Return gives back a value from a function

Ends the function's execution and sends the result

A function can return various types of data

In [149]:
def add(a, b):
    return a + b
sum_result = add(3, 5)
sum_result

8

In [55]:
def say_hi():
    print('hello user')

In [56]:
# to see the output from function you must call it >>> type the name of the function
def say_hi():
    print('hello user')
say_hi()

hello user

In [58]:
#  parametrs 
def say_hi(name):
    print('hello '+name)
say_hi('tasneem')

hello tasneem

In [60]:
def say_hi(name,age):
    print('hello '+name+' your age is ' +age)
say_hi('tasneem','20')

hello tasneem your age is 20

In [61]:
def say_hi(name,age):
    print('hello '+name+' your age is ' +str(age))
say_hi('tasneem',20)

hello tasneem your age is 20

In [15]:
def cube(num):
    return num*num*num
print(cube(3))

27

In [16]:
def cube(num):
    return num*num*num
#store the result in variables
result=cube(4)
print(result)

64

In [17]:
def sum(num1,num2):
    return num1+num2
result=sum(4,5)
print(result)

9

In [18]:
def sum(num1,num2):
    return num1+num2
    print(num1)
print(sum(1,1))

2

In [137]:
def calculate_total(a, b):  # Parameters: a and b
    total = a + b           # Task: Addition
    return total            # Output: Sum of a and b
result = calculate_total(5, 7)  # Calling the function with inputs 5 and 7
print(result)

12

### Python's built-in functions

To use a built-in function, you simply call the function's name followed by parentheses. Any required arguments or parameters are passed into the function within these parentheses. The function then performs its predefined task and may return an output you can use in your code.

In [138]:
# len(): Calculates the length of a sequence or collection
string_length = len("Hello, World!")  
list_length = len([1, 2, 3, 4, 5])

In [139]:
# sum(): Adds up the elements in an iterable (list, tuple)
total = sum([10, 20, 30, 40, 50]) 
total

150

In [141]:
# max(): Returns the maximum value in an iterable
highest = max([5, 12, 8, 23, 16])
highest

23

In [142]:
# min(): Returns the minimum value in an iterable
lowest = min([5, 12, 8, 23, 16])
lowest

5

# conditions

In [21]:
is_hungry=True
if is_hungry==True:
    print("go eat")
#if one equal = in if statment this mean assign value to is_hungry not question

go eat

In [22]:
is_hungry=True
if is_hungry:
    print("go eat")
#standard true

go eat

In [24]:
is_hungry=False
if is_hungry:
    print("go eat")
#because you donnot tell what to do

In [25]:
is_hungry=True
if is_hungry:
    print("go eat")
else:
    print('do not eat')

go eat

In [26]:
is_hungry=False
wants_to_eat=True
if is_hungry or wants_to_eat:
    print("go eat")
else:
    print('do not eat')

go eat

In [27]:
is_hungry=False
wants_to_eat=True
if is_hungry and wants_to_eat:
    print("go eat")
else:
    print('do not eat')

do not eat

In [28]:
is_hungry=False
wants_to_eat=True
if is_hungry and wants_to_eat:
    print("go eat")
elif is_hungry and not wants_to_eat:
    print("eat so you can survive")
else:
    print('do not eat')

do not eat

# comparisons operators

Comparison operations compare some value or operand and based on a condition, produce a Boolean. When comparing two values you can use these operators:

- equal: ==
- not equal: !=
- greater than: >
- less than: <
- greater than or equal to: >=
- less than or equal to: <=

In [119]:
"ACDC" == "The Bodyguard"

False

In [120]:
"ACDC" != "The Bodyguard"

True

In [121]:
i = 2
i != 6

True

In [122]:
i = 6
i != 6

False

In [123]:
i = 6
i > 5

True

In [124]:
a = 5
a == 6

False

In [125]:
'B' > 'A'

True

In [127]:
# When there are multiple letters, the first letter takes precedence in ordering
'BA' > 'AB'

True

In [30]:
def max_num(num1,num2,num3):
    if num1>= num2 and num1>= num3:
        return num1
    elif num2>= num1 and num2>= num3:
        return num2
    else:
        return num3
print(max_num(2,5,10))   

print(max(2,6,30))

10
30

In [31]:
def match_string(str1,str2):
    if str1==str2:
        print('the string do match')
    else:
        print('the string do not match')
match_string('python','python')

the string do match

# Logical operators

Sometimes you want to check more than one condition at once. For example, you might want to check if one condition and another condition are both True. Logical operators allow you to combine or modify conditions.

- and
- or
- not

In [128]:
album_year = 1990

if(album_year < 1980) or (album_year > 1989):
    print ("Album was not made in the 1980's")
else:
    print("The Album was made in the 1980's ")

Album was not made in the 1980's

In [129]:
album_year = 1980

if(album_year > 1979) and (album_year < 1990):
    print ("Album year was in between 1980 and 1989")

Album year was in between 1980 and 1989

In [130]:
album_year = 1983

if not (album_year == 1984):
    print ("Album year is not 1984")

Album year is not 1984

# calculator

In [32]:
#input function take the input as string then pass it to a float function to deal with it as number
num1=float(input("please enter the first number: "))
operator=input("please enter the operator: ")
num2=float(input("please enter the second number: "))

if operator =='+':
    print(num1+num2)
elif operator =='-':
    print(num1-num2)
elif operator =='*':
    print(num1*num2)
elif operator =='/':
    print(num1/num2)
else:
    print("wrong operator please try again")

please enter the first number: 5
please enter the operator: +
please enter the second number: 10
15.0

# Dictionaries

A dictionary consists of keys and values. It is helpful to compare a dictionary to a list. Instead of being indexed numerically like a list, dictionaries have keys. These keys are the keys that are used to access values within a dictionary.

Each key is separated from its value by a colon ":". Commas separate the items, and the whole dictionary is enclosed in curly braces. An empty dictionary without any items is written with just two curly braces, like this "{}".

In [86]:
Dict = {"key1": 1, "key2": "2", "key3": [3, 3, 3], "key4": (4, 4, 4), ('key5'): 5, (0, 1): 6}
Dict

{'key1': 1,
 'key2': '2',
 'key3': [3, 3, 3],
 'key4': (4, 4, 4),
 'key5': 5,
 (0, 1): 6}

In [89]:
# The keys can be strings
Dict["key1"]

1

In [90]:
# Keys can also be any immutable object such as a tuple
Dict[(0, 1)]

6

In [91]:
Dict.keys()

dict_keys(['key1', 'key2', 'key3', 'key4', 'key5', (0, 1)])

In [92]:
Dict.values()

dict_values([1, '2', [3, 3, 3], (4, 4, 4), 5, 6])

In [93]:
Dict["key1"]=4
Dict

{'key1': 4,
 'key2': '2',
 'key3': [3, 3, 3],
 'key4': (4, 4, 4),
 'key5': 5,
 (0, 1): 6}

In [94]:
"key1" in Dict

True

In [95]:
del(Dict["key4"])
Dict

{'key1': 4, 'key2': '2', 'key3': [3, 3, 3], 'key5': 5, (0, 1): 6}

In [36]:
convert_month={
    'jan' : 'january',
    'feb' : 'febraury',
    'mar' : 'march'
}
print(convert_month['feb'])

febraury

In [37]:
convert_month={
    'jan' : 'january',
    'jan' : 'febraury',
    'mar' : 'march'
}
print(convert_month['jan'])

febraury

In [44]:
convert_month={
    1 : 'january',
    'feb' : 'febraury',
    'mar' : 'march'
}
print(convert_month[1])

january

In [40]:
convert_month={
    'jan' : 'january',
    'feb' : 'febraury',
    'mar' : 'march'
}
print(convert_month.get('feb'))

febraury

In [41]:
convert_month={
    'jan' : 'january',
    'feb' : 'febraury',
    'mar' : 'march'
}
print(convert_month.get('python'))

None

In [42]:
convert_month={
    'jan' : 'january',
    'feb' : 'febraury',
    'mar' : 'march'
}
print(convert_month.get('python','the value does not exist'))

the value does not exist

# loops

In programming, a loop is like a magic trick that allows a computer to do something over and over again.

**Start**: The for loop begins with the keyword for, followed by a variable that will take on each value in a sequence.

**Condition**: After the variable, you specify the keyword in and a sequence, such as a list or a range, that the loop will iterate through.

If Condition True:

- The loop takes the first value from the sequence and assigns it to the variable.
- The indented block of code following the loop header is executed using this value.
- The loop then moves to the next value in the sequence and repeats the process until all values have been used.

**Statement**: Inside the indented block of the loop, you write the statements that you want to repeat for each value in the sequence.

**Repeat**: The loop continues to repeat the block of code for each value in the sequence until there are no more values left.

If Condition False:

- Once all values in the sequence have been processed, the loop terminates automatically.
- The loop completes its execution, and the program continues to the next statement after the loop.

### For Loops

A for loop in programming is a control structure that allows the repeated execution of a set of statements for each item in a sequence, such as elements in a list or numbers in a range, enabling efficient iteration and automation of tasks.

In [131]:
colors = ["red", "orange", "yellow", "green", "blue", "indigo", "violet"]
for color in colors:
    print(color)

red
orange
yellow
green
blue
indigo
violet

In [132]:
for number in range(1, 11):
    print(number)

1
2
3
4
5
6
7
8
9
10

**Range Function**
- The range function in Python generates an ordered sequence that can be used in loops. It takes one or two arguments.

If given one argument (range(11)), it generates a sequence starting from 0 up to (but not including) the given number.

In [133]:
for number in range(11):
    print(number)

0
1
2
3
4
5
6
7
8
9
10

If given two arguments (range(1, 11)), it generates a sequence starting from the first argument up to (but not including) the second argument.

In [134]:
for number in range(1, 11):
    print(number)

1
2
3
4
5
6
7
8
9
10

### The Enumerated For Loop

you needed to keep track of both the item and its position in a list? An enumerated for loop comes to your rescue. It's like having a personal assistant who not only hands you the item but also tells you where to find it.

In [135]:
fruits = ["apple", "banana", "orange"]
for index, fruit in enumerate(fruits):
    print(f"At position {index}, I found a {fruit}")

At position 0, I found a apple
At position 1, I found a banana
At position 2, I found a orange

### While Loops

- it repeats a task as long as a certain condition is true. It's like saying, "Hey computer, keep doing this until I say stop!"

In [136]:
count = 1
while count <= 10:
    print(count)
    count += 1

1
2
3
4
5
6
7
8
9
10

here's a breakdown of the above code.

1. There is a variable named count initialized with the value 1.

2. The while loop is used to repeatedly execute a block of code as long as a given condition is True. In this case, the condition is count <= 10, meaning the loop will continue as long as count is less than or equal to 10.

3. Inside the loop:

 - The print(count) statement outputs the current value of the count variable.

- The count += 1 statement increments the value of count by 1. This step ensures that the loop will eventually terminate when count becomes greater than 10.

4. The loop will continue executing as long as the condition count <= 10 is satisfied.

5. The loop will print the numbers 1 to 10 in consecutive order since the print statement is inside the loop block and executed during each iteration.

6. Once count reaches 11, the condition count <= 10 will evaluate to False, and the loop will terminate.

7. The output of the code will be the numbers 1 to 10, each printed on a separate line.

### When to Use Each(For or While)

**For Loops**: Use for loops when you know the number of iterations in advance and want to process each element in a sequence. They are best suited for iterating over collections and sequences where the length is known.

**While Loops**: Use while loops when you need to perform a task repeatedly as long as a certain condition holds true. While loops are particularly useful for situations where the number of iterations is uncertain or where you're waiting for a specific condition to be met.

In [45]:
i=1
while i <=10:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

In [46]:
i=1
while i <=10:
    print(i)
    i=i+1  
print('the loop has ended')

1
2
3
4
5
6
7
8
9
10
the loop has ended

In [47]:
i=1
while i <=10:
    print(i)
    i=i+1 
else:
    print("the condition is not true")
print('the loop has ended')

1
2
3
4
5
6
7
8
9
10
the condition is not true
the loop has ended

In [48]:
i=1
while i <=10:
    i+=1  
    if i==6:
        continue
    print(i)
print('the loop has ended')

2
3
4
5
7
8
9
10
11
the loop has ended

In [49]:
i=1
while i <=10:
    i+=1  
    if i==6:
        break
    print(i)
print('the loop has ended')

2
3
4
5
the loop has ended

In [50]:
for letter in "codezilla":
    print(letter)

c
o
d
e
z
i
l
l
a

In [51]:
fruits=['apple','banana','mango']
for x in fruits:
    print(x)

apple
banana
mango

In [53]:
for x in range(5):
    print(x)

0
1
2
3
4

In [54]:
for x in range(5,10):
    print(x)

5
6
7
8
9

In [55]:
fruits=['apple','banana','mango']
for x in range(len(fruits)):
    print(x)

0
1
2

In [56]:
fruits=['apple','banana','mango']
for index in range(len(fruits)):
    print(fruits[index])

apple
banana
mango

In [57]:
for index in range(10):
    if index %2==0:
        print(index," is an even number")
    else:
        print(index," is an odd number")

0  is an even number
1  is an odd number
2  is an even number
3  is an odd number
4  is an even number
5  is an odd number
6  is an even number
7  is an odd number
8  is an even number
9  is an odd number

In [58]:
buddies=['pikachu','grandizer','subzero','winner']
for x in range(len(buddies)):
    if buddies[x]=='winner':
        print(x," is the winner")
    else:
        print(x," is not the winner")

0  is not the winner
1  is not the winner
2  is not the winner
3  is the winner

In [59]:
buddies=['pikachu','grandizer','subzero','winner']
for x in buddies:
    if x=='subzero':
        print(x," is your friend")
        break
else:
     print(x," not found")

subzero  is your friend

In [60]:
for x in range(3,10):
    if x==5:
        continue
    print(x ," is the choisen number")

3  is the choisen number
4  is the choisen number
6  is the choisen number
7  is the choisen number
8  is the choisen number
9  is the choisen number

In [61]:
numbers=[4,9,1,1,2,2,1,4,3,2,1,6,4,3,4,2,2,9,9,3,2,5,6,7,8,0,9,8,0,0,0,]
unique_list=[]

for number in numbers:
    if number not in unique_list:
        unique_list.append(number)
print(unique_list)

[4, 9, 1, 2, 3, 6, 5, 7, 8, 0]

# sets

A set is a unique collection of objects in Python. You can denote a set with a pair of curly brackets {}. Python will automatically remove duplicate items.

In [96]:
set1 = {"pop", "rock", "soul", "hard rock", "rock", "R&B", "rock", "disco"}
set1

{'R&B', 'disco', 'hard rock', 'pop', 'rock', 'soul'}

In [98]:
set1.add("NSYNC")
set1

{'NSYNC', 'R&B', 'disco', 'hard rock', 'pop', 'rock', 'soul'}

In [99]:
set1.remove("NSYNC")
set1

{'R&B', 'disco', 'hard rock', 'pop', 'rock', 'soul'}

In [110]:
set2 = set1.copy() 
set2

{'R&B', 'disco', 'hard rock', 'pop', 'rock', 'soul'}

In [111]:
# The `clear()` method removes all elements from the set, resulting in an empty set. It updates the set in-place.
set2.clear()

In [112]:
set2

set()

In [113]:
# Use the `discard()` method to remove a specific element from the set. Ignores if the element is not found
set1.discard("rock")
set1

{'R&B', 'disco', 'hard rock', 'pop', 'soul'}

In [100]:
"pop" in set1

True

In [117]:
# The `pop()` method removes and returns an arbitrary element from the set. 
#It raises a `KeyError` if the set is empty. Use this method to remove elements when the order doesn't matter.
set1.pop()
set1

{'R&B', 'disco', 'hard rock', 'soul'}

In [118]:
#The `update()` method adds elements from another iterable into the set. It maintains the uniqueness of elements.
set1.update(["kiwi", "grape"])
set1

{'R&B', 'disco', 'grape', 'hard rock', 'kiwi', 'soul'}

In [62]:
numbers=[4,9,1,1,2,2,1,4,3,2,1,6,4,3,4,2,2,9,9,3,2,5,6,7,8,0,9,8,0,0,0,]
unique_set=set(numbers)
print(unique_set)
print(type(unique_set))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
<class 'set'>

In [66]:
print(dir(unique_set))

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [67]:
numbers=(4,9,1,1,2,2,1,4,3,2,1,6,4,3,4,2,2,9,9,3,2,5,6,7,8,0,9,8,0,0,0)
unique_set=set(numbers)
print(unique_set)
# tuple , list , string

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [101]:
album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])

In [102]:
intersection = album_set1 & album_set2
intersection

{'AC/DC', 'Back in Black'}

In [103]:
album_set1.difference(album_set2)

{'Thriller'}

In [104]:
album_set2.difference(album_set1)

{'The Dark Side of the Moon'}

In [105]:
album_set1.intersection(album_set2)

{'AC/DC', 'Back in Black'}

In [106]:
album_set1.union(album_set2)

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

In [115]:
# The `issuperset()` method checks if the current set is a superset of another set. 
#It returns True if all elements of the other set are present in the current set, otherwise False.
set(album_set1).issuperset(album_set2)

False

In [116]:
# The `issubset()` method checks if the current set is a subset of another set. 
# It returns True if all elements of the current set are present in the other set, otherwise False.
set(album_set2).issubset(album_set1)

False

In [109]:
set({"Back in Black", "AC/DC"}).issubset(album_set1)

True

# 2D lists

In [68]:
#2D list of rows and coulmns
list=[
    [1,2,3],
    [4,5,6],
    [7,8,9],
    [0]
]
print(list)
print(list[1])
print(list[0][1])

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [0]]
[4, 5, 6]
2

# nested loops

In [69]:
list=[
    [1,2,3],
    [4,5,6],
    [7,8,9],
    [0]
]
for row in list:
    for column in row:
        print(column)

1
2
3
4
5
6
7
8
9
0

In [70]:
try:
    value=int(input("enter number: "))
    print(value)
except:
    print("invalid input")
print("success")

enter number: 2
2
success

In [71]:
try:
    value=int(input("enter number: "))
    print(value)
except:
    print("invalid input")
print("success")

enter number: tt
invalid input
success

# Classes and Objects

### Classes

A class is a blueprint or template for creating objects. It defines the structure and behavior that its objects will have.

Think of a class as a cookie cutter and objects as the cookies cut from that template.

In Python, you can create classes using the **class keyword**.

When you create a class, you **specify** the **attributes(data)** and **methods (functions)** that objects of that class will have.

**Attributes** are defined as **variables within the class**, and methods are defined as functions.

For example,you can design a "Car" class with attributes such as "color" and "speed," along with methods like "accelerate."

### Objects

An object is a fundamental unit in Python that represents a real-world entity or concept.

Objects can be tangible (like a car) or abstract (like a student's grade).

Every object has two main characteristics:

**State**

The attributes or data that describe the object. For your "Car" object, this might include attributes like "color", "speed", and "fuel level".

**Behavior**

The actions or methods that the object can perform. In Python, methods are functions that belong to objects and can change the object's state or perform specific operations.

### Instantiating objects

- Once you've defined a class, you can create individual objects (instances) based on that class.
- Each object is independent and has its own set of attributes and methods.
- To create an object, you use the class name followed by parentheses, so: "my_car = Car()"

### Interacting with objects

- You interact with objects by calling their methods or accessing their attributes using dot notation.

- For example, if you have a Car object named my_car, you can set its color with my_car.color = "blue" and accelerate it with my_car.accelerate() if there's an accelerate method defined in the class.

### Class declaration (class ClassName)

- The **class keyword** is used to declare a class in Python.
- ClassName is the name of the class, typically following CamelCase naming conventions.

In [151]:
# class ClassName:

### Class attributes (class_attribute = value)

- Class attributes are variables shared among all class instances (objects).
- They are defined within the class but outside of any methods.

In [153]:
"""
class ClassName:
    # Class attributes (shared by all instances)
    class_attribute = value
"""

'\nclass ClassName:\n    # Class attributes (shared by all instances)\n    class_attribute = value\n'

### Constructor method (def init(self, attribute1, attribute2, ):)

- The __init__ method is a special method known as the constructor.
- It initializes the instance attributes (also called instance variables) when an object is created.
- The **self** parameter is the first parameter of the constructor, referring to the instance being created.
- attribute1, attribute2, and so on are parameters passed to the constructor when creating an object.
- Inside the constructor,**self.attribute1, self.attribute2,** and so on are used to assign values to instance attributes.

In [156]:
"""
class ClassName:
    # Class attributes (shared by all instances)
    class_attribute = value
    # Constructor method (initialize instance attributes)
    def __init__(self, attribute1, attribute2):
        pass
"""

'\nclass ClassName:\n    # Class attributes (shared by all instances)\n    class_attribute = value\n    # Constructor method (initialize instance attributes)\n    def __init__(self, attribute1, attribute2):\n        pass\n'

### Instance attributes (self.attribute1 = attribute1)

- Instance attributes are variables that store data specific to each class instance.
- They are initialized within the __init__ method using the self keyword followed by the attribute name.
- These attributes hold unique data for each object created from the class.

In [157]:
"""
class ClassName:
    # Class attributes (shared by all instances)
    class_attribute = value
    # Constructor method (initialize instance attributes)
    def __init__(self, attribute1, attribute2, ...):
        self.attribute1 = attribute1
        self.attribute2 = attribute2
"""

'\nclass ClassName:\n    # Class attributes (shared by all instances)\n    class_attribute = value\n    # Constructor method (initialize instance attributes)\n    def __init__(self, attribute1, attribute2, ...):\n        self.attribute1 = attribute1\n        self.attribute2 = attribute2\n'

### Instance methods (def method1(self, parameter1, parameter2, ):)

- Instance methods are functions defined within the class.
- They operate on the instance's data (instance attributes) and can perform actions specific to instances.
- The self parameter is required in instance methods, allowing them to access instance attributes and call other methods within the class.

In [158]:
"""
class ClassName:
    # Class attributes (shared by all instances)
    class_attribute = value
    # Constructor method (initialize instance attributes)
    def __init__(self, attribute1, attribute2, ...):
        self.attribute1 = attribute1
        self.attribute2 = attribute2
        # ...
    # Instance methods (functions)
    def method1(self, parameter1, parameter2, ...):
        # Method logic
        pass
"""

'\nclass ClassName:\n    # Class attributes (shared by all instances)\n    class_attribute = value\n    # Constructor method (initialize instance attributes)\n    def __init__(self, attribute1, attribute2, ...):\n        self.attribute1 = attribute1\n        self.attribute2 = attribute2\n        # ...\n    # Instance methods (functions)\n    def method1(self, parameter1, parameter2, ...):\n        # Method logic\n        pass\n'

In [159]:
"""
class ClassName:
    # Class attributes (shared by all instances)
    class_attribute = value
    # Constructor method (initialize instance attributes)
    def __init__(self, attribute1, attribute2, ...):
        self.attribute1 = attribute1
        self.attribute2 = attribute2
        # ...
    # Instance methods (functions)
    def method1(self, parameter1, parameter2, ...):
        # Method logic
        pass
    def method2(self, parameter1, parameter2, ...):
        # Method logic
        pass
"""

'\nclass ClassName:\n    # Class attributes (shared by all instances)\n    class_attribute = value\n    # Constructor method (initialize instance attributes)\n    def __init__(self, attribute1, attribute2, ...):\n        self.attribute1 = attribute1\n        self.attribute2 = attribute2\n        # ...\n    # Instance methods (functions)\n    def method1(self, parameter1, parameter2, ...):\n        # Method logic\n        pass\n    def method2(self, parameter1, parameter2, ...):\n        # Method logic\n        pass\n'

### Creating objects (Instances)

- To create objects (instances) of the class, you call the class like a function and provide arguments the constructor requires.
- Each object is a distinct instance of the class, with its own instance attributes and the ability to call methods defined in the class.

In [160]:
"""
# Create objects (instances) of the class
object1 = ClassName(arg1, arg2, ...)
object2 = ClassName(arg1, arg2, ...)
"""

'\n# Create objects (instances) of the class\nobject1 = ClassName(arg1, arg2, ...)\nobject2 = ClassName(arg1, arg2, ...)\n'

### Calling methods on objects

- The methods method1 and method2 are defined in the ClassName class, and you're calling them on object1 and object2 respectively.
- You pass values param1_value and param2_value as arguments to these methods. These arguments are used within the method's logic.

##### Method 1: Using dot notation

- This is the most straightforward way to call an object's method. In this, use the dot notation (object.method()) to invoke the method on the object directly.
- For example, result1 = object1.method1(param1_value, param2_value, ...) calls method1 on object1.

In [161]:
"""

result1 = object1.method1(param1_value, param2_value, ...)
result2 = object2.method2(param1_value, param2_value, ...)

"""

'\n\nresult1 = object1.method1(param1_value, param2_value, ...)\nresult2 = object2.method2(param1_value, param2_value, ...)\n\n'

##### Method 2: Assigning object methods to variables

- method_reference = object1.method1 assigns the method method1 of object1 to the variable method_reference.
- Later, call the method using the variable like this: result3 = method_reference(param1_value, param2_value, ).

In [163]:
"""

method_reference = object1.method1  
result3 = method_reference(param1_value, param2_value)

"""

'\n\nmethod_reference = object1.method1  \nresult3 = method_reference(param1_value, param2_value)\n\n'

### Accessing object attributes

- attribute_value = object1.attribute1 retrieves the value of the attribute attribute1 from object1 and assigns it to the variable attribute_value.

In [164]:
"""

attribute_value = object1.attribute1

"""

'\n\nattribute_value = object1.attribute1\n\n'

### Modifying object attributes

object1.attribute2 = new_value sets the attribute attribute2 of object1 to the new value new_value.

### Accessing class attributes (shared by all instances)

class_attr_value = ClassName.class_attribute accesses the class attribute class_attribute from the ClassName class and assigns its value to the variable.

In [165]:
"""

class_attr_value = ClassName.class_attribute

"""

'\n\nclass_attr_value = ClassName.class_attribute\n\n'

### Real-world example

Let's write a python program that simulates a simple car class, allowing you to create car instances, accelerate them, and display their current speeds.

1. Let's start by defining a Car class that includes the following attributes and methods:

- Class attribute max_speed, which is set to 120 km/h.

- Constructor method __init__ that takes parameters for the car's make, model, color, and an optional speed (defaulting to 0). This method initializes instance attributes for make, model, color, and speed.

- Method accelerate(self, acceleration) that allows the car to accelerate. If the acceleration does not exceed the max_speed, update the car's speed attribute. Otherwise, set the speed to the max_speed.

- Method get_speed(self) that returns the current speed of the car.

In [166]:
class Car:
    # Class attribute (shared by all instances)
    max_speed = 120  # Maximum speed in km/h
    # Constructor method (initialize instance attributes)
    def __init__(self, make, model, color, speed=0):
        self.make = make
        self.model = model
        self.color = color
        self.speed = speed  # Initial speed is set to 0
    # Method for accelerating the car
    def accelerate(self, acceleration):
        if self.speed + acceleration <= Car.max_speed:
            self.speed += acceleration
        else:
            self.speed = Car.max_speed
    # Method to get the current speed of the car
    def get_speed(self):
        return self.speed

2. Now, you will instantiate two objects of the Car class, each with the following characteristics:

- car1: Make = "Toyota", Model = "Camry", Color = "Blue"

- car2: Make = "Honda", Model = "Civic", Color = "Red"

In [167]:
# Create objects (instances) of the Car class
car1 = Car("Toyota", "Camry", "Blue")
car2 = Car("Honda", "Civic", "Red")

3. Using the accelerate method, you will increase the speed of car1 by 30 km/h and car2 by 20 km/h.

In [168]:
# Accelerate the cars
car1.accelerate(30)
car2.accelerate(20)

4. Lastly, you will display the current speed of each car by utilizing the get_speed method.

In [169]:
# Print the current speeds of the cars
print(f"{car1.make} {car1.model} is currently at {car1.get_speed()} km/h.")
print(f"{car2.make} {car2.model} is currently at {car2.get_speed()} km/h.")

Toyota Camry is currently at 30 km/h.
Honda Civic is currently at 20 km/h.